.navbar-list{
    display: flex;
    // justify-content: center;
    align-items: center;
    gap: 30px;
}
.navbar-link{
    color: #83888F;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;

    &:hover{
        color: black;
    }
}

@media only screen and (max-width:990px){
    .navbar-list{
        max-width: 100%;
    }
}